// app global css in SCSS form
@import "editor";
@import "overrides";
@import "dark";
@import "day";

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Fira Sans", Roboto, Oxygen, Ubuntu, "Droid Sans", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.text-aleo {
  font-family: Aleo, Inter, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Fira Sans", Roboto, Oxygen, Ubuntu, "Droid Sans", Arial, sans-serif;
}

.no-link-decoration {
  text-decoration: none !important;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1;
}

.tree-padding-1 {
  margin-left: 12px;
}

.tree-padding-2 {
  margin-left: 24px;
}

.tree-padding-3 {
  margin-left: 36px;
}

.tree-padding-4 {
  margin-left: 48px;
}

.tree-padding-5 {
  margin-left: 60px;
}

.plan-padding-2 {
  margin-left: 24px;
}

.plan-padding-2 {
  margin-left: 48px;
}

.plan-padding-2 {
  margin-left: 36px;
}

.plan-padding-2 {
  margin-left: 48px;
}

.plan-padding-2 {
  margin-left: 60px;
}

.file-menu-item {
  font-size: 0.8rem;
}

.prompt-select-text {
  font-size: 0.7rem;
}

.n-grow-1 {
  flex-grow: 1;
}

.q-drawer {
  background: transparent !important;
}

.file-child-count-bubble {
  font-size: 0.6rem;
}

@font-face {
  font-family: customfont;
  src: url(./fonts/Baskervville-Regular.ttf);
}

.prompt-card {
  max-height: 500px;
  overflow-y: auto;
}

.prompt-card-expanded {
  overflow-y: auto;
}

.prompt-card-image {
}

.cursor-text {
  cursor: text;
}

.titlebar {
  -webkit-app-region: drag;
  user-select: none;
}

.prompt-brainstorm-idea {
  p {
    margin-bottom: 0 !important;
  }
}

.prompt-brainstorm-actions {
  visibility: hidden;
  max-height: 40px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

*:hover > .prompt-brainstorm-actions {
  visibility: visible;
  max-height: 40px; /* Adjust based on your content height */
  opacity: 1;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 12px;
  z-index: 1000;
}

.footer {
  position: fixed;
  bottom: 0;
}

.q-splitter__separator {
  background-color: transparent !important;
}

.flex-break {
  flex: 1 0 100% !important
}

/* Class assigned to popover wrapper */
.driver-popover {

}

/* Arrow pointing towards the highlighted element */
.driver-popover-arrow {}

/* Title and description */
.driver-popover-title {}
.driver-popover-description {}

/* Close button displayed on the top right corner */
.driver-popover-close-btn {}

/* Footer of the popover displaying progress and navigation buttons */
.driver-popover-footer {}
.driver-popover-progress-text {}
.driver-popover-prev-btn {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Fira Sans", Roboto, Oxygen, Ubuntu, "Droid Sans", Arial, sans-serif;
  font-size: 14px !important;
  font-weight: 500 !important;
  padding: 4px 16px !important;


}
.driver-popover-next-btn {
  background-color: #4F5ED6 !important;
  font-size: 14px !important;
  color: white !important;
  font-weight: 500 !important;
  padding: 4px 16px !important;
  text-shadow: 0px 0px 0px #fff !important;
  border: 0px black !important;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Fira Sans", Roboto, Oxygen, Ubuntu, "Droid Sans", Arial, sans-serif;

  border-radius: 3px !important;

  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px rgba(0, 0, 0, 0.14), 0 1px 14px rgba(0, 0, 0, 0.12) !important;
}

.drop-box {
  position: absolute;
  top: 0; left: 0;
  z-index: 10;
  width: 65%;
  transform: translateY(-50%);
}

/* Style the scrollbar */
textarea::-webkit-scrollbar {
  width: 6px; /* Keep the same width */
}

textarea::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Remove the arrows (buttons at the top and bottom of the scrollbar) */
textarea::-webkit-scrollbar-button {
  display: none; /* Hides the arrows */
}

.pattern-bg {
  z-index: -1;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23dfe1f0' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ai-panel {
}

.ai-panel-solid {
  background-color: #f8f8f8;
  border-color: rgb(248, 248, 248);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
}

.no-p-margin {
  p {
    margin: 0 !important;
  }
}

.inscriptor-shadow-1 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inscriptor-shadow-bottom {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.inscriptor-insert-shadow-top {
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.inscriptor-inner-shadow {
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.inscriptor-insert-shadow-bottom {
  box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.1);
}

.idea-card-rounded {
  background-color: #f8f8f8;
  border-color: rgb(228, 228, 228);
  border-style: solid;
  border-width: 1px;
  border-radius: 22px;
}

.popup-gradient-1 {
  background: linear-gradient(135deg, #ffffff 80%, #ededf8 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gradient-variation-1 {
  background: linear-gradient(135deg, #ffffff 80%, #ededf8 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gradient-variation-3 {
  background: linear-gradient(135deg, #ededf8 10%, #ffffff 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gradient-variation-2 {
  background: linear-gradient(135deg, #ffffff 80%, #ededf8 100%);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.context-selector:hover {
  background-color: rgb(240, 240, 240);
  transition: background-color 0.5s;
}

.idea-card {
  background-color: #f8f8f8;
  border-color: rgb(228, 228, 228);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
}

.inscriptor-highlight-btn {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gradient-bg-text-container {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.9;
}

/* Chat history styles */
.chat-history-container {
  border-radius: 8px;
}

.chat-messages-container {
  max-height: 350px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 4px;
}

.chat-messages-container-unhinged {
  padding-right: 4px;
}

.chat-message {
  padding: 8px 12px;
  border-radius: 12px;
  margin-bottom: 8px;
  max-width: 85%;
  min-width: 150px;
}

.chat-user-message {
  background-color: #eaeeff;
  align-self: flex-end;
  margin-left: auto;
  max-height: 200px;
  overflow-y: scroll;
}

.chat-ai-message {
  background-color: #f5f5f5;
  align-self: flex-start;
}

.chat-message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  font-size: 0.8rem;
}

.chat-message-role {
  font-weight: 600;
}

.chat-message-time {
  color: #757575;
  font-size: 0.7rem;
}

.chat-message-content {
  word-break: break-word;
}

/* Hide hoverable buttons by default */
.hoverable-btn {
  opacity: 0;
  transition: all 0.3s ease;
}

/* Hide hoverable buttons by default */
.hoverable-btn-semi {
  opacity: 0.85;
  transition: all 0.3s ease;
}

/* Show hoverable buttons on hover */
.hoverable-card:hover .hoverable-btn {
  opacity: 1;
}

.hoverable-card:hover .hoverable-btn-semi {
  opacity: 1;
}

:root {
  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: white;
  top: 0;
  left: 0;

  svg {
    position: fixed;
    top:0;
    left:0;
    width: 0;
    height: 0;
  }


  .gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}



