.q-btn--rectangle {
  border-radius: 6px;
}

.q-card {
  border-radius: 6px !important
}

.q-menu {
  border-radius: 6px;
}

.q-field--square {
  border-radius: 6px !important;
}

.q-field__control {
  border-radius: 6px !important;
}

.q-field__native {
  border-radius: 6px !important;
}

.q-field--square .q-filed--control {
  border-radius: 60px !important;
}

.q-item-type {
  border-radius: 6px !important;
}

.q-item__section .q-icon {
  font-size: 20px
}

.q-list {
}

.q-field--filled .q-field__control::before {
  border-bottom: 0px solid transparent !important;
}

.q-field--filled .q-field__control {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.q-splitter__before {
  overflow: visible !important;
}

.q-splitter__separator {
  z-index: 0 !important;
}
