.q-btn--rectangle {
  border-radius: 6px;
}

.q-card {
  border-radius: 6px !important
}

.q-menu {
  border-radius: 6px;
}

.q-field--square {
  border-radius: 6px !important;
}

.q-field__control {
  border-radius: 6px !important;
}

.q-field__native {
  border-radius: 6px !important;
}

.q-field--square .q-filed--control {
  border-radius: 60px !important;
}

.q-item-type {
  border-radius: 6px !important;
}

.q-item__section .q-icon {
  font-size: 20px
}

